
		<div class="time_entry row">
		  <div class="minutes span2"> <%= time_entry.minutes %></div>
		  <div class="project span2">
		  	<%= link_to time_entry.project.name, edit_time_entry_path(current_user.id)  %> </div>
		  <div class="description span2"><%= time_entry.description %>
		  </div>

		  <div class="date span2"> <%= time_entry.effective_date %> </div>
		  <% if current_user.is_admin? %>
		  <div class="email span2"> <%= time_entry.user.email if time_entry.user %> 
		  </div>
		  <% end %>
		  <div class="edit span2">
		  	<%= link_to 'edit', edit_time_entry_path(time_entry), :class=>"edit-time-entry btn"%>
		  </div>
		</div>
		


