<%=simple_form_for time_entry, :remote=>remote do |f|%>
<div class="row">
	<div class="span2">
		<%= f.input :minutes %>
	</div>
	<div class="span2">
		<%= f.input :project_id, collection: Project.all, :label_method=>:name, :value_method=>:id %>
	</div>
	<div class="span3">
		<%= f.input :description, :as=>:string %>
	</div>
	<div class="span3">
		<%= f.input :effective_date, as: :date %>
	</div>
	<%#= f.input :user_id, as: :hidden, :input_html=>{value: current_user.id}	%>
	<div class="span2">
		<%= f.submit %>
	</div>
</div>	
<% end %>	