<br>
<h2> User efforts </h2>

	<% @user_efforts.keys.sort.each do |month,year| %>
		<h3><%= month.strftime('%B-%Y') %></h3>
		<% @mins=0 %>
		<% @same_date='1987-04-01' %>
		<% @same_project="default" %>


	<% @user_efforts[month].each do |report|%>

		<%  @same_date=report.effective_date %>
		<% @same_project=report.project.name %>
		
		
			<div class="report_entry row">
			<div class="date span2"> <%= report.effective_date %></div>
			<div class="workedhours span2"> <%= report.minutes  %>  </div>
			<div class="minutes span2"> <%= report.project.name %></div>
			<div class="minutes span2"> <%= report.user.email %></div>


			</div>
		

	<% end %>

<% end %>
		

